* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --blackroom: #201D1E;
    --darkroom: #A7A4A1;
    --redeye: #DB4737;
    --lt-redeye: #EED3C8;
    --flash: #BD8B2C;
    --lt-flash: #D2B784;
    --darksepia: #E5DCCB;
    --lt-sepia: #EFECDB;
    --blue: #1A86C8;
    --ltblue: #C6DAE1;
}

body {
    margin: 0;
    padding: 0;
    background: var(--lt-sepia);
    color: var(--blackroom);
  }

/* Typography */
    @font-face {
        font-family: 'JustSaying';
        src: url('fonts/JustSayingBold.eot');
        src: url('fonts/JustSayingBold.woff2') format('woff2'),
            url('fonts/JustSayingBold.woff') format('woff'),
            url('fonts/JustSayingBold.ttf') format('truetype'),
            url('fonts/JustSayingBold.svg#svgJustSaying') format('svg');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }

    h1, h2, h3 {
        font-family: 'JustSaying', Helvetica;
        text-transform: uppercase;
        line-height: 0.8em;
    }

    h1{
        font-size: 4rem;
        margin-top: 1rem;
        text-align: center;
    }

    h2 {
        font-size: 4rem;
        margin-bottom: 1rem;
        color: var(--blackroom)
    }

    h3 {
      font-size: 2rem;
    }

    em {
      font-size: 2rem;
      font-style: normal;
      font-family: 'JustSaying', Helvetica;
      text-transform: uppercase;
    }

    li {
        list-style: none;
    }

    p {
      padding-top: 1rem;
    }

    a {
        text-decoration: none;
        color: var(--redeye);
        font-size: 1rem;
    }

    a:hover {
      color: var(--flash);
  }

  a.active {
      color: var(--blackroom);
      background-color: var(--flash);
      padding: 1rem;
  }


/* Header */
    #navlogo { 
        height: 60px;
        filter: none;
    }

    header {
    position: absolute;
    min-width: 100vw;
    margin: -1rem;
    }

    .navbar {
        position: relative;
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
        background-color: var(--lt-sepia);
        border-bottom: 20px;
    }

    .navbar .links {
        display: flex;
        gap:2rem 
    } */

/* hide scrollbar */
  ::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }
  
  ::-webkit-scrollbar-button {
    width: 1px;
    height: 1px;
  }

/* Gallery */
  .filmprints {
    margin: -2rem 0;
    overflow: hidden;
    height: 100vh;
    background-color: var(--lt-sepia);
  }
  
  .horizontal-scroll-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vh;
    transform: rotate(-90deg) translate3d(0,-100vh,0);
    transform-origin: right top;
    overflow-x: hidden;
    padding: 0;
    height: 100vw;
    perspective: 1px;
    padding-bottom: 10rem;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
    transform-origin: 50% 50%;
    transition: 1s;
  }
  
  .img-wrapper:hover {
   min-height: 65vh;
  }
  
  .slower {
    transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(0%) translateY(-10vh);
  }
  .slower1 {
    transform: rotate(90deg) translateZ(-.25px) scale(1.05) translateX(0%) translateY(8vh);
  }
  .slower-down {
    transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(0%) translateY(16vh) ;
  }
  .slowest {
    transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(0%) translateY(16vh) ;
  }
  .faster {
    transform: rotate(90deg) translateZ(.15px) scale(0.8) translateX(0%) translateY(14vh) ;
  }
  .faster2 {
    transform: rotate(90deg) translateZ(.05px) scale(0.8) translateX(0%) translateY(10vh) ;
  }
  .vertical {
     transform: rotate(90deg) translateZ(-.15px) scale(1.15) translateX(0%) translateY(0%) ;
  }
  
  .img-wrapper a {
    overflow: hidden;
    display: block;
    padding: 1vh ;
    background: #fff;
    box-shadow: 0 10px 10px #5f2f1182;
    border-radius: 1rem;
  }

  img.herogallery {
    max-width: 45vh;
    max-height: 50vh;
    transition: .5s;
    vertical-align: top;
    filter: saturate(75%) sepia(10%);
    border-radius: 1rem;
  }

  a:hover img {
    filter: none;
  }

/* Problem Statement */
.overview {
  display: flexbox;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: var(--darksepia);
  padding: 5rem 2rem 2rem;
  overflow: hidden;
}

.overview--content {
  display: inline-flex;
  align-items: center;
  gap: 3%;
  padding-bottom: 1rem;
}


.overviewimg {
  width: 100%;
  max-width: 40vw;
  border-radius: 1rem;
  border: 5px solid var(--lt-flash);
  margin: 0.5rem;
}

#skewtop {
  rotate: 7deg;
}

#skewbottom {
  rotate: -7deg;
}

/* Deliverables */
.deliverables {
  background-color: var(--redeye);
}

.deliverables-gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    /* grid-template-rows: repeat(8, 5vw); */
    grid-gap: 15px;
    padding: 2rem;
}

.deliverables-content {
    grid-column: 1 / 14;
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
}

.deliverables__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: none;
    border-radius: 1rem;
}

.deliverables__item {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay-text {
  color: var(--blackroom);
  text-align: center;
  padding: 20px;
}

.deliverables__item:hover .overlay {
  opacity: 1;
}

.deliverables__item--1 {
    grid-column-start: 1;
    grid-column-end: 6;
}

.deliverables__item--2 {
    grid-column-start: 6;
    grid-column-end: 14;
}

.deliverables__item--3 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.deliverables__item--4 {
    grid-column-start: 4;
    grid-column-end: 14;
}

.deliverables__item--5 {
    grid-column-start: 1;
    grid-column-end: 6;
}

.deliverables__item--6 {
    grid-column-start: 6;
    grid-column-end: 14;
}

/* Footer */

.footer {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: var(--lt-sepia);
  border-bottom: 20px;
}

.footer .links {
  display: flex;
  gap:2rem 
} 


/* RESEARCH PAGE */

.title {
  height: 20vh; 
  margin: 20vh auto 30vh; 
  padding: 2rem;
}

p.page-subhead {
  text-align: center;
  padding-top: 1rem;
}

.research--content {
  background-color: var(--darksepia);
  padding: 5rem 2rem;
}

.research--content--digital {
  padding: 2rem;
  background-color: var(--darksepia);
  width: 100vw;
}

.research--content--film {
  background-color: var(--lt-flash);
  padding: 2rem;
}

.research--content--iso {
  padding: 2rem;
  background-color: var(--lt-sepia);
}

.quotegallery {
  flex: 0 0 auto;
  background-color: var(--lt-sepia);
  border-radius: 1rem;
  padding: 0.5rem;
  align-self: center;
  max-width: 300px;
}

.quote-wrapper {
  display:flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 1rem;
  margin: 1rem;
  padding: 1rem;
  -webkit-overflow-scrolling: touch;
  /* &::-webkit-scrollbar {
    display: none;
  } */
}


.neg {
  border: 5px solid var(--redeye);
}

.pos {
  border: 5px solid var(--flash)
}


.graph-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--blackroom);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 0;
}

/* PROCESS PAGE */

.process--content {
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  overflow-x: hidden;
  background-color: #fff;
}

.process-description {
  display: block;
  align-self: center;
  padding: 1rem 3rem;
  text-align: center;
}

img.full {
  max-width: 97vw;
  padding: 1rem;
  border-radius: 3rem;
}

img.half {
  width: 48.5%;
  padding: 0.5rem;
  border-radius: 2rem;
}

.divide {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

img.half-full{
  width: 50vw;
  padding: 1rem;
  border-radius: 1.5rem;
}
li.bullet {
  list-style-type: disc;
  margin: 1rem 6rem;
}

/* REDIRECT */

.redirect {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.redirectimg-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transform-origin: 50% 50%;
  transition: 1s;
  background-color: var(--darksepia);
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 1rem;
}

.redirectimg-wrapper:hover {
  filter: saturate(100%) sepia (0%);
  background-color: var(--redeye);
}

img.redirectimg {
  max-width: 45vh;
  max-height: 50vh;
  transition: .5s;
  vertical-align: top;
  filter: saturate(50%) sepia(10%);
  border-radius: 1rem;
}


/* MEDIA RESPONSIVENESS */

@media screen and (max-width: 900px) {
  body {
    font-size: 16px; 
  }


  h1, h2, h3 {
    font-family: 'JustSaying', Helvetica;
    text-transform: uppercase;
    line-height: 0.8em;
}

h1{
    font-size: 3rem;
    margin: 1rem 0;
    text-align: center;
}

h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--blackroom)
}

h3 {
  font-size: 2rem;
}

  header {
    position: relative; 
  }

  #hero {
    padding: 2rem;
  }


  .links li {
    padding: 1rem;
  }

  .links li:hover {
    background-color: var(--darksepia);
  }

  .filmprints {
    max-height: 100%;
    margin-top: -40%;
  }
  /* .horizontal-scroll-wrapper {
    flex-direction: row;
    max-width: 100%;
    transform: none;
    padding: 0;
    height: auto;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .filmprints {
    max-height: 70vh;
  }
  .img-wrapper {
    transform: none;
    min-height: auto;
    margin-bottom: 2rem;
  }

  .img-wrapper:hover {
    min-height: auto;
  }

  .img-wrapper a {
    padding: 0.5rem;
    margin: 0.5rem;
  } */

  .overview {
    display: block;
    max-width: 100%;
    min-width: 100%;
  }

  .overview--content {
    padding-top: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .overviewimg {
    max-width: 100vw;
  }

  #skewtop {
    rotate: 0deg;
  }

  #skewbottom {
    rotate: 0deg;
    order: 2;
  }

  .deliverables-gallery {
    /* grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    max-width: 100%; */
    display: block;
  }

  .deliverables__item {
    grid-column: 1 span 2;
    margin: 2rem 0;
    min-width: 100%;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 2rem;
  }

  .footer .links {
    margin-top: 1rem;
  }

  .redirect {
    align-items: center;
    height: auto;
    padding: 2rem;
    display: flex;
    align-content: stretch;
    justify-content: space-evenly;
  }


  .redirectimg {
    display: none;
  }

  .redirectimg-wrapper:hover {
    background-color: var(--redeye);
  }

  .graph-caption {
    content: "";
    clear: both;
    /* display: table;
    max-width: fit-content; */
    display: flex;
    flex-wrap: wrap;
  }

  .reorder-text {
    order: 0;
  }

  .reorder-img {
    order: 1;
  }

  .quote-wrapper {
    content: "";
    clear: both;
    max-width: fit-content;
    max-height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .quotegallery {
    max-width: 100%;
  }
  img.half-full {
    width: 100%;
    margin-bottom: 50px;
  }

  img.half {
    width: 100%;
    border-radius: 1rem;
  }
}