* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --blackroom: #201D1E;
    --darkroom: #A7A4A1;
    --redeye: #DB4737;
    --lt-redeye: #EED3C8;
    --flash: #BD8B2C;
    --lt-flash: #D2B784;
    --darksepia: #E5DCCB;
    --lt-sepia: #EFECDB;
    --blue: #1A86C8;
    --ltblue: #C6DAE1;
}

body {
    margin: 0;
    padding: 0;
    background: var(--lt-sepia);
    color: var(--blackroom);
  }

/* Typography */
    @font-face {
        font-family: 'JustSaying';
        src: url('fonts/JustSayingBold.eot');
        src: url('fonts/JustSayingBold.woff2') format('woff2'),
            url('fonts/JustSayingBold.woff') format('woff'),
            url('fonts/JustSayingBold.ttf') format('truetype'),
            url('fonts/JustSayingBold.svg#svgJustSaying') format('svg');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }

    h1, h2, h3 {
        font-family: 'JustSaying', Helvetica;
        text-transform: uppercase;
        line-height: 0.8em;
    }

    h1{
        font-size: 4rem;
        margin-top: 1rem;
        text-align: center;
    }

    h2 {
        font-size: 4rem;
        margin-bottom: 1rem;
        color: var(--blackroom)
    }

    h3 {
      font-size: 2rem;
    }

    em {
      font-size: 2rem;
      font-style: normal;
      font-family: 'JustSaying', Helvetica;
      text-transform: uppercase;
    }

    li {
        list-style: none;
    }

    p {
      padding-top: 1rem;
    }

    a {
        text-decoration: none;
        color: var(--redeye);
        font-size: 1rem;
    }

    a:hover {
      color: var(--flash);
  }

  a.active {
      color: var(--blackroom);
      background-color: var(--flash);
      padding: 1rem;
  }


/* Header */
    #navlogo { 
        height: 60px;
        filter: none;
    }

    header {
    position: absolute;
    min-width: 100vw;
    margin: -1rem;
    }

    .navbar {
        position: relative;
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
        background-color: var(--lt-sepia);
        border-bottom: 20px;
    }

    .navbar .links {
        display: flex;
        gap:2rem 
    } */

/* hide scrollbar */
  ::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }
  
  ::-webkit-scrollbar-button {
    width: 1px;
    height: 1px;
  }

/* Gallery */
  .filmprints {
    margin: -2rem 0;
    overflow: hidden;
    height: 100vh;
    background-color: var(--lt-sepia);
  }
  
  .horizontal-scroll-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vh;
    transform: rotate(-90deg) translate3d(0,-100vh,0);
    transform-origin: right top;
    overflow-x: hidden;
    padding: 0;
    height: 100vw;
    perspective: 1px;
    padding-bottom: 10rem;
  }

  .img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
    transform-origin: 50% 50%;
    transition: 1s;
  }
  
  .img-wrapper:hover {
   min-height: 65vh;
  }
  
  .slower {
    transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(0%) translateY(-10vh);
  }
  .slower1 {
    transform: rotate(90deg) translateZ(-.25px) scale(1.05) translateX(0%) translateY(8vh);
  }
  .slower-down {
    transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(0%) translateY(16vh) ;
  }
  .faster {
    transform: rotate(90deg) translateZ(.15px) scale(0.8) translateX(0%) translateY(14vh) ;
  }
  .faster2 {
    transform: rotate(90deg) translateZ(.05px) scale(0.8) translateX(0%) translateY(10vh) ;
  }
  .vertical {
     transform: rotate(90deg) translateZ(-.15px) scale(1.15) translateX(0%) translateY(0%) ;
  }
  
  .img-wrapper a {
    overflow: hidden;
    display: block;
    padding: 1vh ;
    background: #fff;
    box-shadow: 0 10px 10px #5f2f1182;
    border-radius: 1rem;
  }

  img.herogallery {
    max-width: 45vh;
    max-height: 50vh;
    transition: .5s;
    vertical-align: top;
    filter: saturate(75%) sepia(30%);
    border-radius: 1rem;
  }

  a:hover img {
    filter: none;
  }

/* Problem Statement */
.statement {
    background-color: var(--darksepia);
    padding: 5rem 2rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [end];
    grid-template-rows: [row1] 100px [row2] 100px [row3] 100px [row4] 100px [row5] 100px [bottom];
    gap:3rem;
    color: var(--blackroom);
}

.problem-content {
    grid-column: col2 / span 2;
    grid-row: row1 / row3;
}

.problem-image{
    background-image: url('img/subway.jpg');
    border-radius: 1rem;
    grid-column: col4 / span end;
    grid-row: row1 / row4;
    background-size: cover;
    background-position: center;
    padding: 1vh ;
    box-shadow: 0 10px 50px #5f2f1182;
    transform: rotate(10deg);
}

.solution-image{
    grid-column: col1 / span 2;
    grid-row: row4 / span 3;
    border-radius: 1rem;
    background-size: cover;
    background-position: center;
    transform: rotate(-10deg);
}

.solution-content {
    grid-column: col3 / span 2;
    grid-row: row4 / bottom;
    justify-self: end;
}

/* Deliverables */
.deliverables {
  background-color: var(--redeye);
}

.deliverables-gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    /* grid-template-rows: repeat(8, 5vw); */
    grid-gap: 15px;
    padding: 2rem;
}

.deliverables-content {
    grid-column: 1 / 14;
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
}

.deliverables__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: none;
    border-radius: 1rem;
}

.deliverables__item {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay-text {
  color: var(--blackroom);
  text-align: center;
  padding: 20px;
}

.deliverables__item:hover .overlay {
  opacity: 1;
}

.deliverables__item--1 {
    grid-column-start: 1;
    grid-column-end: 6;
}

.deliverables__item--2 {
    grid-column-start: 6;
    grid-column-end: 14;
}

.deliverables__item--3 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.deliverables__item--4 {
    grid-column-start: 4;
    grid-column-end: 14;
}

.deliverables__item--5 {
    grid-column-start: 1;
    grid-column-end: 6;
}

.deliverables__item--6 {
    grid-column-start: 6;
    grid-column-end: 14;
}

/* Footer */

.footer {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: var(--lt-sepia);
  border-bottom: 20px;
}

.footer .links {
  display: flex;
  gap:2rem 
} */


/* RESEARCH PAGE */

section.title {
  background-color: var(--lt-sepia);
  padding-top: 15rem;
  min-height: 50vh;
}

p.page-subhead {
  text-align: center;
  padding-top: 1rem;
}
.research--content {
  background-color: var(--darksepia);
  padding: 5rem 2rem;
}

.research--content--digital {
  padding: 2rem;
  background-color: var(--darksepia);
  width: 100vw;
}

.research--content--film {
  background-color: var(--lt-flash);
  padding: 2rem;
}

/* .horizontal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vh;
  transform: rotate(-90deg) translate3d(0,-100vh,0);
  transform-origin: right top;
  overflow-x: hidden;
  padding: 0;
  height: 100vw;
  perspective: 1px;
  padding-bottom: 10rem;
} */

.quotegallery {
  background-color: var(--lt-sepia);
  border-radius: 1rem;
  padding: 1rem;
  max-width: 300px;
  margin-top: 1rem;
}

.quote-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 40vh;
  gap: 1rem;
  overflow: hidden;
}

.neg {
  border: 3px solid var(--redeye);
}

.pos {
  border: 3px solid var(--flash)
}

/* PROCESS PAGE */

.process--content--moodboard {
  padding: 1rem;
  background-color: #fff;
}

img.full {
  max-width: 97vw;
}

img.half {
  max-width: 48.5vw;
  padding: 1rem;
}

li.bullet {
  list-style-type: disc;
  margin: 1rem 3rem;
}