* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --blackroom: #201D1E;
    --darkroom: #A7A4A1;
    --redeye: #DB4737;
    --lt-redeye: #EED3C8;
    --flash: #BD8B2C;
    --lt-flash: #D2B784;
    --darksepia: #E5DCCB;
    --lt-sepia: #EEE8E0;
    --blue: #1A86C8;
    --ltblue: #C6DAE1;
}

body {

    margin: 0;
    padding: 0;
}

/* Typography */
@font-face {
    font-family: 'JustSaying';
    src: url('fonts/JustSayingBold.eot');
    src: url('fonts/JustSayingBold.woff2') format('woff2'),
        url('fonts/JustSayingBold.woff') format('woff'),
        url('fonts/JustSayingBold.ttf') format('truetype'),
        url('fonts/JustSayingBold.svg#svgJustSaying') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

h1, h2 {
    font-family: JustSaying, Helvetica;
    text-transform: uppercase;
}

h1{
    font-size: 4rem;
    margin-bottom: 18rem;
}

h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--redeye)
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--redeye);
    font-size: 1rem;
}

a:hover {
    color: var(--flash)
}

/* Header */
#navlogo {
    height: 60px;
}

header {
  position: relative;
  padding: 0 2rem;
  height: 100vh;
  background-image: url("img/hayden.JPG"); 
  background-size: cover;
  background-position: center;
}

.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .links {
    display: flex;
    gap:2rem 
}

/* Hero */
section#hero{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--blackroom);
}

/* Problem Statement */

.statement {
    background-color: var(--lt-sepia);
    padding: 5rem 2rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [end];
    grid-template-rows: [top] auto [middle] auto [bottom];
    gap:3rem 2rem;
    color: var(--blackroom);
}

.problem-content {
    grid-column: col1 / span 2;
    grid-row: top / middle;
}

.problem-image{
    grid-column: col3 / span end;
    border-radius: 1rem;
    background-size: cover;
    background-position: center;
}

.solution-image{
    grid-column: col1 / span 2;
    grid-row: middle / bottom;
    border-radius: 1rem;
    background-size: cover;
    background-position: center;
}

.solution-content {
    grid-column: col3 / span end;
    grid-row: middle / bottom;
    justify-self: end;
}